.counter {
    background-color: white;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.counter__title {
    display: flex;
    align-items: center;
}

.counter__countContainer {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.counter__countContainer > button {
    width: 50px;
}

.counter__title > button {
    height: 20px;
}